body{
    margin: 0;
    padding: 0;
}

#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: #2b373d;
}

h3{
    align-self: flex-start;
}

h3, h4, p{
    margin: 0 0 10px 0;
}